ol, ul, li { 
    list-style-type: none;
     }
#perens{
    font-style: italic;
}
body{
    text-align: center;
    width: 500px;
    margin: auto;
}
article{
    text-align: left;
}
body{
    font-family:Helvetica, sans-serif;font-size:large; 
    background-color:#2a2974; 
    color:#d1ce2e}
text{
    text-decoration-color: yellow;
}
